.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #0e1a35;
  width: 318px;
  height: 1352px;
  transition: width 0.5s ease-in-out;

  &_close {
    display: flex;
    flex-direction: column;
    height: 1352px;
    background-color: #0e1a35;
    width: 0px;
    transition: width 0.5s ease-in-out;
  }
}

.logoDiv {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 40px;
  transition: opacity 0.6s ease-in-out;
}

.imgLogo {
  width: 181px;
  height: 50px;
}

.icon {
  margin-right: 15px;
}

.option {
  cursor: pointer;
  display: inherit;
  align-items: center;
  visibility: visible;
  padding-left: 39px;
  height: 100px;
  border-top: 1px solid rgba(11, 10, 16, 0.3);
  font-size: 24px;
  color: white;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: opacity 0.4s ease-in-out;
}

.option:hover {
  background-color: #122143;
  border-left: 10px solid #5584ff;
  padding-left: 29px;
}

.close {
  opacity: 0;
  z-index: -1;
}

#selected {
  background-color: #2a4280;
}
