.activity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  height: 108px;

  &_userProfile {
    //TODO::MAKE AS MIXING

    border-radius: 50%;
    width: 47px;
    height: 47px;
    background-color: #5384ff;
    margin-left: 35px;
    z-index: 5;
  }

  &_content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    height: 47px;
    overflow: hidden;
    padding-left: 16px;

    font-family: Roboto;
    font-size: 19.5px;
    font-weight: 500;
    color: #0e1a35;

    &_time {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #f83c7b;
      font-family: Roboto;
      font-size: 14px;
      height: 31px;
      color: #8492af;
    }
  }

  &_options {
    margin-right: 35px;
  }

  &_message {
    display: flex;
    font-size: 14px;
    &_name {
      font-family: "Roboto";
      font-weight: 600;
      color: #0e1a35;
    }

    &_action {
      font-family: "Roboto-Regular";
      color: #8492af;
    }

    &_subject {
      font-family: "Roboto";
      font-weight: 600;
      color: #0e1a35;
    }
  }
}

.clock_img {
  height: 15px;
  margin-right: 5px;
}

.profileImgStyle {
  height: 50px;
  border-radius: 50px;
}
