.main_content {
  height: inherit;
  background-color: #f6f7fa;
}

.username {
  font-family: Roboto;
  font-size: 48px;
  display: flex;
  margin: 40px 43px 18px;
  color: #0e1a35;
  font-weight: 500;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  // flex-flow: column wrap;
}

.one {
  width: 577px;
  height: 469px;
  border: solid 1px rgba(132, 146, 175, 0.3);
  background-color: #ffffff;
  flex-grow: 1;
  margin: 26px;

  margin: 26px 15px 26px 47px;
  //padding: 30px 35px 47px;
}

.two {
  flex-grow: 1;
  width: 887px;
  height: 469px;
  border: solid 1px rgba(132, 146, 175, 0.3);
  background-color: #ffffff;
  //margin: 26px;
  margin: 26px 47px 26px 15px;
  // padding: 30px 1px 29px;
}
.three,
.four,
.five {
  margin: 0px 10px 0px 25px;
  flex-grow: 1;
  width: 474px;
  height: 554px;
  border: solid 1px rgba(132, 146, 175, 0.3);
  background-color: #ffffff;
}

.three {
  margin-left: 47px;
}
.five {
  margin-right: 47px;
}
