.workFlow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  height: 80%;
  color: rgba(83, 114, 250, 0.664);

  img {
    height: 50%;
  }
}
